
<div class="row justify-content-center my-1">
	<div class="col-12">
	<button class="snapped btn btn-danger" data-id="{{id}}" data-alive="{{alive}}">
		{{#if alive}}{{name}}{{else}}{{name}}{{/if}}
	</button>
	</div>
</div>

