
<div class="row justify-content-center my-1">
	<div class="col-12 grid__item hvr-pulse-grow">
	<button class="particles-button snapped theme-1" data-id="{{id}}" data-alive="{{alive}}">
		{{#if alive}}{{name}}{{else}}{{name}}{{/if}}
	</button>
	</div>
</div>

